<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="semcomdt.swsecurity.ssrt.design.Activator"
               id="semcomdt.swsecurity.ssrt.design"
	       name="ssrt">
    </component>
  </extension>
  <extension point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="com.yourcompany.OpenEmbeddedEditor"
            id="OpenEmbeddedEditor">
      </javaActions>
   </extension>
</plugin>
